<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/toast.ico') }}">

    <title>Toast Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container-fluid d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="{{ url_for('static', filename='img/toast.svg') }}" width="50px">
                    <strong style="margin-left: 20px">Toast Tracker</strong>
                </a>
                <div style="position: relative;" class="navbar-brand">
                    <span style="margin-left: 20px">Projeto PDI - 2019.2</span>
                </div>
            </div>
        </div>
    </header>

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="card box-shadow">
                            <div class="d-flex justify-content-around">
                                <div class="website-infos">
                                    <h2><span class="counter count_tor_tot">300</span></h2>
                                    <p>Total de torradas</p>
                                </div>
                                <div class="website-infos-img">
                                    <img src="{{ url_for('static', filename='img/count.svg') }}" style="width: 55px; height: auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="card box-shadow">
                            <div class="d-flex justify-content-around">
                                <div class="website-infos">
                                    <h2><span class="counter count_tor_tot_ok">200</span></h2>
                                    <p>Total de corretas</p>
                                </div>
                                <div class="website-infos-img">
                                    <img src="{{ url_for('static', filename='img/success.svg') }}" style="width: 40px; height: auto; margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="card box-shadow">
                            <div class="d-flex justify-content-around">
                                <div class="website-infos">
                                    <h2><span class="counter count_tor_tot_no">100</span></h2>
                                    <p>Total de tortas</p>
                                </div>
                                <div class="website-infos-img">
                                    <img src="{{ url_for('static', filename='img/wrong.svg') }}" style="width: 40px; height: auto; margin-top: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="card box-shadow">
                            <div class="d-flex justify-content-around">
                                <div class="website-infos">
                                    <h2><span class="counter velocity">8 cm/s</span></h2>
                                    <p>Velocidade</p>
                                </div>
                                <div class="website-infos-img">
                                    <img src="{{ url_for('static', filename='img/velocity.svg') }}" style="width: 50px; height: auto; margin-top: 2px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="items_container">
                    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                        <div class="card box-shadow">
                            <img src="{{ url_for('video_feed') }}" style="width: 100%; height: auto;">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
                        <div class="h-100">
                            <div class="h-100 card box-shadow">
                                <div>
                                    <strong>Parâmetros do sistema</strong>
                                </div>
                                <hr style="margin: 8px 0 30px 0">
                                <form action="#" onsubmit="inciar();return false;">
                                    <fieldset id="fieldset" disabled>
                                        <div class="form-row">
                                            <div class="form-group col-xl-12 col-md-6">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="video_input2">Fonte</span>
                                                    </div>
                                                    <select class="form-control video_input" id="video_input">
                                                        <option>Câmera real</option>
                                                        <option>Simulação 1</option>
                                                        <option>Simulação 2</option>
                                                        <option>Simulação 3</option>
                                                        <option>Simulação 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-xl-12 col-md-6">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="limiar2">Limiar</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="limiar" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="ângulo (º)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 2px 0 15px 0">
                                        <strong style="font-size: 13px  ;">Informações da câmera</strong>
                                        <div class="form-row" style="margin-top: 10px;">
                                            <div class="form-group col-md-6">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="fov2">FOV</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="fov" placeholder="field of view" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="fps2">FPS</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="fps" placeholder="frames per second" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="dist2">Distância câmera</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="dist" placeholder="distância (cm)" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="resol">Resolução</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="resol_w" placeholder="width (px)" required>
                                                    <input type="text" class="form-control" id="resol_h" placeholder="height (px)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 2px 0 15px 0">
                                        <strong style="font-size: 13px;">Informações do objeto</strong>
                                        <div class="form-row" style="margin-top: 10px;">
                                            <div class="form-group col-md-12">
                                                <div class="input-group input-group-sm">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="tam">Tamanho</span>
                                                    </div>
                                                    <input type="text" class="form-control" id="tam_w" placeholder="width (cm)" required>
                                                    <input type="text" class="form-control" id="tam_h" placeholder="height (cm)" required>
                                                </div>
                                            </div>
                                        </div>
                                        <hr style="margin: 2px 0 15px 0">
                                    </fieldset>
                                    <button type="submit" id="btn_iniciar" style="width: 100%;" class="btn btn-success">Iniciar</button>
                                    <button type="button" onclick="parar()" id="btn_parar" style="width: 100%;" class="btn btn-danger">Parar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript">
        var count_tor_tot = document.querySelector('.count_tor_tot'),
            count_tor_tot_ok = document.querySelector('.count_tor_tot_ok'),
            count_tor_tot_no = document.querySelector('.count_tor_tot_no'),
            velocity = document.querySelector('.velocity'),
            video_inputs = document.querySelector('.video_input'),
            websocket = new WebSocket("ws://{{serverIP}}:6789/");

        websocket.onmessage = function (event) {
            data = JSON.parse(event.data);
            switch (data.type) {
                case 'state':
                    count_tor_tot.textContent = data.count_tor_tot;
                    count_tor_tot_ok.textContent = data.count_tor_tot - data.count_tor_alvo;
                    count_tor_tot_no.textContent = data.count_tor_alvo;
                    velocity.textContent = data.velocity + " cm/s";

                    var displayOptions = "";
                    
                    data.input_video.forEach(src => {
                        displayOptions += "<option>" + src + "</option>";
                    });
                    video_inputs.innerHTML = displayOptions;

                    if (data.video_src) {
                        video_inputs.selectedIndex = data.input_video.indexOf(data.video_src);
                    }

                    document.getElementById("fieldset").disabled = data.active;

                    if(data.active) {
                        document.getElementById("btn_iniciar").style.display = "none";
                        document.getElementById("btn_parar").style.display = "block";
                    } else {
                        document.getElementById("btn_iniciar").style.display = "block";
                        document.getElementById("btn_parar").style.display = "none";
                    }
                    break;
                default:
                    console.error("unsupported event", data);
            }
        };

        var fonte = document.getElementById("video_input")
        var limiar = document.getElementById("limiar")
        var fov = document.getElementById("fov")
        var fps = document.getElementById("fps")
        var dist = document.getElementById("dist")
        var tam_w = document.getElementById("tam_w")
        var tam_h = document.getElementById("tam_h")
        var res_w = document.getElementById("resol_w")
        var res_h = document.getElementById("resol_h")

        function inciar() {

            obj = {
                active: true,
                fonte: fonte.value,
                limiar: limiar.value,
                fov: fov.value,
                fps: fps.value,
                dist: dist.value,
                tam_w: tam_w.value,
                tam_h: tam_h.value,
                res_w: res_w.value,
                res_h: res_h.value
            }
            websocket.send(JSON.stringify(obj));
            return false;
        }

        function parar() {
            websocket.send(JSON.stringify({active: false}));
            return false;
        }
    </script>

</body></html>